<ons-page class="page">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button (click)="add()">
				<ons-icon icon="ion-navicon-round, material:md-menu"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">Bookmark plus</div>
		<div class="right">
			<ons-toolbar-button (click)="add()">
				<ons-icon icon="ion-plus-round, material:md-plus"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<div class="content">
		<ons-list>
			<ons-list-item modifier="chevron longdivider material" tappable>
				<h3>bookmark 11</h3>
				<p class="bookmark-list-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatibus provident dolorem.
				</p>
				<div class="bookmark-history-details">
					<span>
						<small>Added on : Today</small>
					</span>
				</div>
			</ons-list-item>
			<ons-list-item modifier="chevron longdivider material" tappable>
				<h3>bookmark 2</h3>
				<p class="bookmark-list-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatibus provident dolorem.
				</p>
			</ons-list-item>
			<ons-list-item modifier="chevron longdivider material" tappable>
				<h3>bookmark 3</h3>
				<p class="bookmark-list-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatibus provident dolorem.
				</p>
			</ons-list-item>
			<ons-list-item modifier="chevron longdivider material" tappable>
				<h3>bookmark 4</h3>
				<p class="bookmark-list-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatibus provident dolorem.
				</p>
			</ons-list-item>
			<ons-list-item modifier="chevron longdivider material" tappable>
				<h3>bookmark 5</h3>
				<p class="bookmark-list-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatibus provident dolorem.
				</p>
			</ons-list-item>
			<ons-list-item modifier="chevron longdivider material" tappable>
				<h3>bookmark 6</h3>
				<p class="bookmark-list-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatibus provident dolorem.
				</p>
			</ons-list-item>
		</ons-list>
	</div>
</ons-page>
<!-- <ons-dialog animation="default" cancelable #dialog>
    <div class="dialog-mask"></div>
      <div class="dialog">
        <div class="dialog-container" style="height: 200px;">
          <ons-page>
            <ons-toolbar>
              <div class="center">Name</div>
            </ons-toolbar>
            <div class="content">
              <div style="text-align: center">
                <p>This is just an example.</p>
                <br>
                <ons-button (click)="dialog.hide()">Close</ons-button>
              </div>
            </div>
          </ons-page>
        </div>
      </div>
  </ons-dialog> -->