<ons-toolbar>
	<div class="left">
		<ons-toolbar-button>
			<ons-icon icon="ion-chevron-left, material:md-chevron-left" (click)="pop()"></ons-icon>
		</ons-toolbar-button>
	</div>
	<div class="center">Second Page</div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
	<h3 style="padding: 4px">Second page content</h3>
	<p style="padding: 4px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit autem ducimus ea quaerat sint et praesentium aliquam dolor, facere tenetur cum quam dolore aut. Alias aperiam mollitia provident, quos molestiae facere labore distinctio. Rem facilis tenetur voluptatum eos! Sit libero tenetur, aspernatur praesentium at quo!</p>
	<!--<ons-button (click)="pop()">back</ons-button>-->
</div>